.idea/
ml_optimization/practice_1/.ipynb_checkpoints/Jupyter_test-checkpoint.ipynb
ml_optimization/practice_1/__pycache__/oracles.cpython-38.pyc
ml_optimization/practice_1/__pycache__/optimization.cpython-38.pyc
ml_optimization/practice_1/__pycache__/utils.cpython-38.pyc
ml_optimization/practice_1/Report/main.synctex.gz
ml_optimization/practice_1/Report/main.out
ml_optimization/practice_1/Report/main.log
ml_optimization/practice_1/Report/main.aux
ml_optimization/practice_1/__pycache__/task1_presubmit_tests.cpython-38.pyc
ml_optimization/practice_1/__pycache__/optimization.cpython-39.pyc
ml_optimization/practice_1/__pycache__/
