.idea/
ml_optimization/practice_1/.ipynb_checkpoints/Jupyter_test-checkpoint.ipynb
ml_optimization/practice_1/__pycache__/oracles.cpython-38.pyc
ml_optimization/practice_1/__pycache__/optimization.cpython-38.pyc
ml_optimization/practice_1/__pycache__/utils.cpython-38.pyc
